
.Item {
  max-width: $width-large-width;

  &-header {
    display: flex;
    align-items: center;
  }

  &-picture {
    width: auto;
    min-width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: $margin-margin;
    background-size: cover;
    background-position: center;
  }

  &-info {
    display: grid;
    width: 100%;
  }

  &-title {
    margin: 0;
    width: 100%;
  }

  &-category, &-location {
    color: $global-muted-color;
  }

  &-location {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-actions {
    margin-top: $margin-margin;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > a:not(:first-child){
      margin-left: $margin-small-margin;
    }
  }

  &-body {
    margin-top: $margin-margin;
  }
}