.ItemsContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  &-content {
    width: 100%;
    max-width: $breakpoint-large - 200px;
  }

  &-actionIcon {
    line-height: inherit;
  }
}