$primary: #ff9800;
$primary-dark: #EF6C00;

$global-link-color: $primary;
$global-link-hover-color: $primary-dark;
$global-primary-background: $primary;
$button-primary-color: #333;

$header-height: 50px;